/Remote Sensing/data/*
!/Remote Sensing/data/Remote Sensing Data Info
.Rproj.user
/Remote Sensing/.Rhistory
/Hackathon Sumbissions/team_a/data/lsoa.geojson
/Hackathon Sumbissions/team_a/.Rhistory
/Hackathon Sumbissions/team_a/md_cache/html/__packages
/Hackathon Sumbissions/team_a/md_cache/html/data_2cf239d1b95d0af5a878d0cd9c35e084.RData
/Hackathon Sumbissions/team_a/md_cache/html/data_2cf239d1b95d0af5a878d0cd9c35e084.rdb
/Hackathon Sumbissions/team_a/md_cache/html/data_2cf239d1b95d0af5a878d0cd9c35e084.rdx
/Hackathon Sumbissions/team_a/md_cache/html/model_d9e7e83339a09f76549eec5aeb443491.RData
/Hackathon Sumbissions/team_a/md_cache/html/model_d9e7e83339a09f76549eec5aeb443491.rdb
/Hackathon Sumbissions/team_a/md_cache/html/model_d9e7e83339a09f76549eec5aeb443491.rdx
